# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Cache
.turbo
.cache
*.log

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Test
coverage
.nyc_output
